@import 'bootstrap';

@mixin box_sizing{
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing : border-box;
 	box-sizing: border-box;
 }
 #header{
 	height: 100px;
 	width: 100%;
 	background-color: #eee;
	border-bottom: 1px solid #e6e6e6;
	//padding: 27px 0;
 }

 html{
 	overflow-y: scroll; 
 }

 input, textarea, select , .uneditable-input, form{
 	border: 1px solid #bbb;
 	width: 100%;
 	padding: 10px;
 	height: auto;
 	margin-bottom: 15px;

 	@include box-sizing;

 }
  #error_explanation{
    
  ul{
    list-style: none;
    color: #f00;
    margin: 0 0 18px 0;
  }
 }
 